:root {
   --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
   --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
   --Grayish-Blue: hsl(212, 23%, 69%);
   --Light-Grayish-Blue: hsl(210, 46%, 95%);
   --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background: var(--Light-Grayish-Blue);
   font-family: 'Manrope', sans-serif;
   font-size: 13px;
   line-height: 1.5;
   color: var(--Grayish-Blue);
}

.cards{
   width: 100vw;
   height: 100vh;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card{
   min-height: 510px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background: var(--white);
   margin-right: 24px;
   margin-left: 24px;

     @media (min-width: 768px) {
         min-width: 730px;
         min-height: 280px;
         flex-direction: row;
      }
      
}

.card__img{
   width: 100%;
   min-height: 190px;
   // border-right: 4px solid var(--Grayish-Blue);
   border-radius: 0 5px 0 0;
   display: block;
   object-fit: cover;
   object-position: left center;

     @media (min-width: 768px) {
         min-width: 285px;
         height: 100%;
         border-radius: 5px 0 0 5px;
         border-right: none;
         object-position: left center;
      }
}

.card__body{
   margin-top: 40px;
   padding: 0 30px;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;

   @media (min-width: 768px) {
      padding: 0 45px;
   }
}

.card__title{
   font-size: 1rem;
   line-height: 1.375;
   font-weight: 700;
   letter-spacing: .01rem;
   color: var(--Desaturated-Dark-Blue);

   @media (min-width: 768px) {
       letter-spacing: .05rem;
      // padding: 0 50px;
      font-size: 1.125rem;
   }
}  

.card__txt{
   margin-top: 16px;
   font-size: 12px;
   font-weight: 500;
   text-align: left;
   line-height: 1.5;
   letter-spacing: .05rem;
   
   @media (min-width: 768px) {
      font-size: 13px;
      letter-spacing: .01rem;
   }
}

// Avatar

.avatar {
   width: 100%;   
   margin-top: 1.5rem;
   display:flex;
   justify-content: space-between;
   align-items: center;
}

.avatar__img {
   width: 40px;
   height: 40px;

   img {
      width: 100%;
      display: block;
      border-radius: 100%;
   }
}

.avatar__post {
   position: relative;
   display:flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px 0;
   flex-grow: 1;
}

.avatar__name{
   font-size: 13px;
   font-weight: 700;
   color: var(--Desaturated-Dark-Blue);
}

.avatar__dete{
   font-size: 12px;
}

.avatar__send{
   position: relative;
   width: 32px;
   height: 32px;
   background-color: var(--Light-Grayish-Blue);
   border-radius: 100%;
   z-index: 100;

   img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: block;
      width: 80%;
   }
}

.social{
   width: 100vw;
   transform: translateY(-70%);
   display: none;
   padding: 1.5rem 2rem;
   justify-content: flex=start;
   align-items: center;
   background: var(--Very-Dark-Grayish-Blue);
   font-size: 13px;
   letter-spacing: .01rem;

   @media (min-width: 768px) {
   
      position: absolute;
      width: 100%;
      top:-200%;
      right: 0%;
      transform: translateX(calc(50% - 15px));
      border-radius: 15px;

      &::after {
         content: '';
         position: absolute;
         top: 100%;
         left: 50%;
         width: 25px;
         height: 25px;
         transform: translateX(-50%);
         border-right: 15px solid transparent;
         border-left: 15px solid transparent;
         border-top: 15px solid var(--Very-Dark-Grayish-Blue);
         border-bottom: 15px solid transparent;
         background: tranparent;
      }
   }

   &--show{
      // display: block;
      @media (min-width: 768px) {
         display: flex;
      }
   }
}

.social__txt{
   font-size: 16px;
   letter-spacing: .3rem;
   text-transform: uppercase;
   margin-right: 15px;
}
.social__icon{
   margin-right: 15px;
}